<table mat-table [dataSource]="movies" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="studio">
    <th mat-header-cell *matHeaderCellDef> studio </th>
    <td mat-cell *matCellDef="let element"> {{element.studio}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="weekendIncome">
    <th mat-header-cell *matHeaderCellDef> weekendIncome</th>
    <td mat-cell *matCellDef="let element"> {{element.weekendIncome}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> delete</th>
    <td mat-cell *matCellDef="let element"> <button (click)="toDelete(element)">Delete Item </button></td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div style = "text-align: center; padding-top: 40px">The movie you deleted is: {{ name }}</div>


